/* الخلفية */
body {
  background: linear-gradient(135deg, #fce4ec, #e3f2fd);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

/* الصندوق */
.container {
  background-color: white;
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* الصورة */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* العنوان */
h1 {
  color: #d63384;
  font-size: 26px;
  margin-bottom: 10px;
}

/* النص */
p {
  color: #555;
  font-size: 18px;
  margin: 10px 0;
}

/* الروابط */
a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #0056b3;
}

/* الإيميل */
.email {
  font-weight: bold;
  color: #444;
}